<!DOCTYPE html>
<html lang="en" dir="ltr">
<style>
  table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
      background-color: lightblue;
      border-style: groove;
      border-color: blue;
      margin: 0px;
      text-align: left;
  }
  tr:nth-child(even) {
      background-color: #dddddd;
  }
  .vl {
    border-right: 2px solid black;
  }
  h2 {
    padding: 10px;
    color: white;
    background-color: blue;
    border-style: groove;
    border-color: lightblue;
    margin: 0px;
    font-size: 20px;
  }
</style>
<link rel="stylesheet" href="reviewTables.css">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Class Description</title>
  </head>
  <body>
<% include partials/navbar %>
  <h2>Class Description</h2>
  <table class = "vl" style="width:100%">
      <tr>
        <th class = "vl">Course Name </th>
        <td><%= results[0].name %></td>

      </tr>
      <tr>
        <th class = "vl">Prereqs </th>
        <td><%= results[0].prereq %></td>

      </tr>
      <tr>
        <th class = "vl">Credits </th>
        <td><%= results[0].credits %></td>

      </tr>
      <tr>
        <th class = "vl">Seats </th>
        <td><%= results[0].seat %></td>

      </tr>
      <tr>
        <th class = "vl">Time and Location </th>
        <td> <%= results[0].timeLoc %> </td>

      </tr>
      <tr>
        <th class = "vl">Professor</th>
        <td><%= results[0].prof %></td>

      </tr>
      <tr>
        <th class = "vl">TA(s)</th>
        <td>
            <%= results[0].ta %>
        </td>

      </tr>
      <tr>
        <th class = "vl">Rating</th>
        <td><%= results[0].rating %></td>

      </tr>
      <tr>
        <th class = "vl">Difficulty</th>
        <td><%= results[0].diff %></td>

      </tr>
      <tr>
        <th class = "vl">Would Take Again</th>
        <% if(results[0].wta == "N/A"){ %>
            <td><%= results[0].wta %></td>
        <% } else { %>
            <td><%= results[0].wta + "%" %></td>
        <% } %>

      </tr>
      <tr>
        <th class = "vl">Reviews</th>
        <td>
            <table>
                <% for(var i = results[0].reviews.length-1; i >= 0; i--) {%>
                    <% if(results[0].reviews[i]){ %>
                        <% if(results[0].reviews[i].profreview && i-1 >= 0 && results[0].reviews[i].profreview != "No review up to date"){ %>
                            <tr><%= results[0].reviews[i].profreview %></tr>
                            <hr>
                        <% } else if(results[0].reviews[i].profreview) { %>
                            <tr><%= results[0].reviews[i].profreview %></tr>
                        <% } %>
                    <% } %>
                <% } %>
            </table>
        </td>
      </tr>
      <tr>
        <th class = "vl">Chilly Pepper</th>
        <td><%= results[0].chilly %></td>

      </tr>
</table>

<h1>Submit A New Review</h1>
<form action="/newReview" method="post">
    <label for="rating">Rating: </label>
    <select class="" name="rating">
        <option selected>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
    </select>
    <label for="diff">Difficulty: </label>
    <select class="" name="diff">
        <option selected>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
    </select>
    <label for="chilly">Chilly Pepper: </label>
    <select class="" name="chilly">
        <option selected>Not Hot</option>
        <option>Is Hot</option>
        <option>Sexy</option>
    </select>
    <label for="wta">Would Take Again(%): </label>
    <input type="number" name="wta" max="100" min="0" placeholder="0-100">
    <br>
    <label for="review">Comment: </label>
    <textarea name="review" rows="8" cols="80"></textarea>
    <br>
    <button type="submit" name="id" value="<%=results[0].profID%>">Submit</button>
</form>

  </body>
</html>
