<!DOCTYPE html>
<html>
    <head>
        <title>Results</title>
        <link rel="stylesheet" href="schedule.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <body>
        <% include partials/navbar %>
        <link rel="stylesheet" href="schedule.css">
        <h2>Results</h2>

        <table>
            <thead>
                <tr>
                  <th>Course Number</th>
                  <th>Section</th>
                  <th>Course</th>
                  <th>Professor</th>
                  <th>TA</th>
                  <th>Location and Time</th>
                  <!-- <th>Chilly Pepper</th> -->
                </tr>
            </thead>
            <tbody>
                <% for(var i = 0; i<results.length;i++) {%>
                <tr id="<%= results[i].sec %>">
                  <td>
                      <form action="/results/details" method="get">
                          <button class="buttons" type="submit" name="courseValue" value="<%= results[i].sec %>"> <%= results[i].num %> </button>
                      </form>
                  </td>
                  <td>
                      <form action="/results/details" method="get">
                          <button class="buttons" type="submit" name="courseValue" value="<%= results[i].sec %>"> <%= results[i].sec %> </button>
                      </form>
                  </td>
                  <td>
                      <form action="/results/details" method="get">
                          <button class="buttons" type="submit" name="courseValue" value="<%= results[i].sec %>"> <%= results[i].name %> </button>
                      </form>
                  </td>
                  <td>
                      <form action="/results/details" method="get">
                          <button class="buttons" type="submit" name="courseValue" value="<%= results[i].sec %>"> <%= results[i].prof %> </button>
                      </form>
                  </td>
                  <td>
                      <form action="/results/details" method="get">
                          <button class="buttons" type="submit" name="courseValue" value="<%= results[i].sec %>"> <%= results[i].ta %> </button>
                      </form>
                  </td>
                  <td>
                      <form action="/results/details" method="get">
                          <button class="buttons" type="submit" name="courseValue" value="<%= results[i].sec %>">  <%= results[i].timeLoc %> </button>
                      </form>
                  </td>
                  <form action="/addCourse" method = "post">
                      <!-- <input id = "AddID" class = "buttons" type="text" name="addClass" placeholder = "Enter Course Num"> -->
                      <button id = "AddID" class = "buttons" name="addClass" value="<%= results[i].num %>">Add</button>
                    </form>
                </tr> <% } %>
            </tbody>
        </table>

    </body>
</html>
